<a href="https://colab.research.google.com/github/hby1117/class2025Fall/blob/main/0912_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics

## 1. Python & Python Interpreter
<pre>
source code ---> interpreter ---> machine code

(python)                          (0s and 1s)
</pre>

## 2. Fundamentals
```
y = f(x)
```
1. Data
2. Function
3. Flow

## 3. Variable
```python
a = "Hello!"
print(a)

# Remove
del a
```

## 4. Data Type
```python
type(a)
```

### 4-1. Numbers
```python
a = 1
b = 3.14
```

```python
2 + 3
2 - 3
2 * 3
2 / 3
2 // 3
2 % 3
2 ** 3

### 4-2. Sequence: List
```python
a = [1, 3, 5, 7, 9]
b = [15]
```

```python
a[0]
a[:3]   # same as a[:-2]
a[1:3]  # same as a[-4:-2] and a[1:-2]
a[1:]   # same as a[-4:]
```

```python
# Modify
a[0] = 11

# Append
a.append(13)

# Remove
a.pop(2)

# Combine
a + b
```

### 4-3. Sequence: String
```python
a = "Hello"
b = "World!"
```

```python
a[0]
a[:3]   # same as a[:-2]
a[1:3]  # same as a[-4:-2] and a[1:-2]
a[1:]   # same as a[-4:]
```

```python
# Combine
a + b
```

### 4-4. Dictionary
```python
a = {"name": "Suzy", "age": 20}
```

```python
a["name"]

# Modify
a["age"] = 21

# Add
a["city"] = "Seoul"

# Remove
del a["city"]
```